@use "../partials/variables";

.contact{
    padding: 25px 20px;
    .mobile-contact{
        form{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 20px 0;
            input{
                padding: 10px;
                border: 3px solid;
                border-image-source: linear-gradient(90deg, variables.$color-2 40%, variables.$color-3 91%);
                border-image-slice: 1;
                background-color: variables.$color-1;
                color: variables.$color-2;
                font-family: variables.$main-font;
                &::placeholder{
                    color: variables.$color-2;
                    font-family: variables.$main-font;
                }
                &:focus{
                    outline: none;
                    color: variables.$color-2;
                }
            }
            textarea{
                padding: 10px;
                border: 3px solid;
                border-image-source: linear-gradient(90deg, variables.$color-2 40%, variables.$color-3 91%);
                border-image-slice: 1;
                height: 100px;
                background-color: variables.$color-1;
                font-family: variables.$main-font;
                resize: none;
                color: variables.$color-2;
                &::placeholder{
                    color: variables.$color-2;
                    font-family: variables.$main-font;
                }
                &:focus{
                    outline: none;
                }
            }
        }
    }
    .desktop-contact{
        display: none;
        .contact-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 70px;
            
            form{
                display: flex;
                flex-direction: column;
                gap: 10px;
                
                input{
                    padding: 10px;
                    border: 3px solid;
                    border-image-source: linear-gradient(90deg, variables.$color-2 40%, variables.$color-3 91%);
                    border-image-slice: 1;
                    background-color: variables.$color-1;
                    color: variables.$color-2;
                    font-family: variables.$main-font;
                    font-size: 20px;
                    &::placeholder{
                        color: variables.$color-2;
                        font-family: variables.$main-font;
                    }
                    &:focus{
                        outline: none;
                        color: variables.$color-2;
                    }
                }
                textarea{
                    padding: 10px;
                    border: 3px solid;
                    border-image-source: linear-gradient(90deg, variables.$color-2 40%, variables.$color-3 91%);
                    border-image-slice: 1;
                    height: 150px;
                    background-color: variables.$color-1;
                    font-family: variables.$main-font;
                    resize: none;
                    color: variables.$color-2;
                    font-size: 20px;
                    &::placeholder{
                        color: variables.$color-2;
                        font-family: variables.$main-font;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                .more-button{
                    width: 100%;
                    border: 3px solid;
                    border-image-source: linear-gradient(90deg, #39B5CB 40%, #34E3CE 91%);
                    border-image-slice: 1;
                    box-sizing: border-box;
                }
            }
            .contact-info{
                font-size: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .desktop-socials{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .social-info{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        svg{
                            height: 50px;
                            width: 50px;
                            fill: variables.$color-2;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .mobile-contact{
        display: none;
    }
    .desktop-contact{
        display: block !important;
    }
}

@media only screen and (min-width: 1024px) {
    .contact{
        padding: 25px 70px;
    }
}

@media only screen and (min-width: 2560px) {
    .contact{
        .desktop-contact{
            .contact-grid{
                .contact-info{
                    p{
                        font-size: 40px;
                    }
                    .desktop-socials{
                        gap: 30px;
                        .social-info{
                            gap: 20px;
                        }
                    }
                }
                form{
                    gap: 30px;
                    input{
                        font-size: 40px;
                        padding: 25px;
                    }
                    textarea{
                        font-size: 40px;
                        padding: 25px;
                        height: 250px;
                    }
                }
            }
        }
    }
}