@use "./variables";

.mobile-nav{
    display: flex;
    justify-content: space-between;
    background-color: variables.$color-1;
    box-sizing: border-box;
    padding: 15px 20px;
    border-bottom: 5px solid;
    border-image-source: linear-gradient(90deg, variables.$color-2 40%, variables.$color-3 91%);
    border-image-slice: 1;
    position: fixed;
    top: 0;
    width: 100%;
    svg{
        width: 40px;
        height: 40px;
        fill: variables.$color-2;
    }
    .socials{
        display: flex;
        gap: 25px;
        a{
            svg{
                
                color: variables.$color-2;
            }
        }
    }
}

.mobile-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: variables.$color-1;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .mobile-nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    svg{
        height: 35px;
        width: 35px;
        position: fixed;
        top: 20px;
        left: 260px;
    }
}
.desktop-nav{
    display: none;
}

@media screen and (min-width: 375px) {
    .mobile-modal{
        svg{
            left: 320px;
        }
    }
}

@media screen and (min-width: 425px) {
    .mobile-modal{
        svg{
            left: 370px;
        }
    }
}


@media only screen and (min-width: 768px) {
  .mobile-nav{
    display: none;
  }

  .desktop-nav{
    display: flex;
    justify-content: space-between;
    background-color: variables.$color-1;
    box-sizing: border-box;
    padding: 20px 30px;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(90deg, variables.$color-2 40%, variables.$color-3 91%);
    border-image-slice: 1;
    position: fixed;
    top: 0;
    width: 100%;
    .nav-links{
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 22px;
        a{
            color: variables.$color-2;
            text-decoration: none;
            font-weight: 700;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .socials{
        display: flex;
        align-items: center;
        gap: 25px;
        svg{
            fill: variables.$color-2;
            color: variables.$color-2;
            width: 35px;
            height: 35px;
        }
    }
  }
}

@media only screen and (min-width: 1024px) {

    .desktop-nav{
        padding: 20px 70px;
        .nav-links{
            font-size: 30px;
            gap: 45px;
        }
    }
}
@media only screen and (min-width: 2560px) {
   
    .desktop-nav{
        padding: 45px 70px;
        .nav-links{
            font-size: 50px;
            gap: 45px;
        }
        .socials{
            gap: 40px;
            svg{
                width: 60px;
                height: 60px;
            }
        }
    }
}