@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
.mobile-nav {
  display: flex;
  justify-content: space-between;
  background-color: #363636;
  box-sizing: border-box;
  padding: 15px 20px;
  border-bottom: 5px solid;
  border-image-source: linear-gradient(90deg, #39B5CB 40%, #34E3CE 91%);
  border-image-slice: 1;
  position: fixed;
  top: 0;
  width: 100%;
}
.mobile-nav svg {
  width: 40px;
  height: 40px;
  fill: #39B5CB;
}
.mobile-nav .socials {
  display: flex;
  gap: 25px;
}
.mobile-nav .socials a svg {
  color: #39B5CB;
}

.mobile-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #363636;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-modal .mobile-nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.mobile-modal svg {
  height: 35px;
  width: 35px;
  position: relative;
  bottom: 240px;
  left: 120px;
}

.desktop-nav {
  display: none;
}

@media screen and (min-width: 375px) {
  .mobile-modal svg {
    left: 150px;
  }
}
@media screen and (min-width: 425px) {
  .mobile-modal svg {
    left: 170px;
  }
}
@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: flex;
    justify-content: space-between;
    background-color: #363636;
    box-sizing: border-box;
    padding: 20px 30px;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(90deg, #39B5CB 40%, #34E3CE 91%);
    border-image-slice: 1;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .desktop-nav .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 22px;
  }
  .desktop-nav .nav-links a {
    color: #39B5CB;
    text-decoration: none;
    font-weight: 700;
  }
  .desktop-nav .nav-links a:hover {
    cursor: pointer;
  }
  .desktop-nav .socials {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .desktop-nav .socials svg {
    fill: #39B5CB;
    color: #39B5CB;
    width: 35px;
    height: 35px;
  }
}
@media only screen and (min-width: 1024px) {
  .desktop-nav {
    padding: 20px 70px;
  }
  .desktop-nav .nav-links {
    font-size: 30px;
    gap: 45px;
  }
}
@media only screen and (min-width: 2560px) {
  .desktop-nav {
    padding: 45px 70px;
  }
  .desktop-nav .nav-links {
    font-size: 50px;
    gap: 45px;
  }
  .desktop-nav .socials {
    gap: 40px;
  }
  .desktop-nav .socials svg {
    width: 60px;
    height: 60px;
  }
}
.header {
  padding: 25px 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-bottom: 5px solid;
  border-image-source: linear-gradient(90deg, #34E3CE 40%, #39B5CB 91%);
  border-image-slice: 1;
  margin-top: 70px;
}
.header h1 {
  color: #39B5CB;
  font-size: 40px;
}
.header a {
  text-decoration: none;
}
.header p {
  color: #39B5CB;
  font-size: 35px;
  font-weight: 700;
  border: 4px solid;
  border-image-source: linear-gradient(90deg, #39B5CB 40%, #34E3CE 91%);
  border-image-slice: 1;
  text-align: center;
  border-radius: 100px;
  padding: 15px 0;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 20px 30px;
    padding-bottom: 60px;
    border-bottom: 3px solid;
  }
  .header h1 {
    width: 60%;
    font-size: 70px;
  }
  .header .resume {
    width: 150px;
  }
}
@media only screen and (min-width: 1024px) {
  .header {
    padding: 40px 70px;
  }
}
@media only screen and (min-width: 1440px) {
  .header h1 {
    font-size: 120px;
  }
}
@media only screen and (min-width: 2560px) {
  .header {
    padding: 120px 70px;
  }
  .header h1 {
    font-size: 180px;
  }
  .header .resume {
    width: 20%;
    padding: 50px;
    font-size: 80px;
  }
}
.section-title {
  color: #39B5CB;
  margin-bottom: 15px;
}

.projects {
  padding: 25px 20px;
}
.projects .project {
  color: #39B5CB;
  border: 5px solid;
  border-bottom: none;
  border-image-source: linear-gradient(180deg, #39B5CB 40%, #34E3CE 91%);
  border-image-slice: 1;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.projects .project .project-header {
  display: grid;
  grid-template-columns: 1fr;
}
.projects .project .project-header img {
  width: 100%;
  height: 90px;
  object-fit: cover;
  display: block;
}
.projects .project .project-header .project-info {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 120px;
}
.projects .project .bottom-bar {
  background-color: #34E3CE;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.projects .project .bottom-bar .technologies {
  display: none;
  align-items: center;
  gap: 15px;
}
.projects .project .bottom-bar .technologies p {
  font-size: 20px;
  color: #34E3CE;
  background-color: #363636;
  padding: 10px;
  font-weight: 700;
}
.projects .project .bottom-bar .project-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 20px;
  align-items: center;
}
.projects .project .bottom-bar .project-buttons .project-button {
  color: #363636 !important;
  width: 35px;
  height: 35px;
}

@media only screen and (min-width: 768px) {
  .section-title {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .projects .project {
    border: 4px solid;
    border-bottom: none;
    border-image-source: linear-gradient(90deg, #39B5CB 40%, #34E3CE 91%);
    border-image-slice: 1;
  }
  .projects .project .project-header {
    grid-template-columns: 1fr 2fr;
  }
  .projects .project .project-header img {
    height: 100%;
    width: 100%;
    border-right: 4px solid #39B5CB;
  }
  .projects .project .bottom-bar {
    background: linear-gradient(90deg, #39B5CB 40%, #34E3CE 91%);
  }
  .projects .project .bottom-bar .technologies {
    display: flex;
  }
  .projects .project .bottom-bar .technologies p {
    color: #39B5CB;
  }
  .projects .project .bottom-bar .project-buttons {
    width: initial;
    justify-content: initial;
  }
}
@media only screen and (min-width: 1024px) {
  .projects {
    padding: 25px 70px;
  }
}
@media only screen and (min-width: 2560px) {
  .projects .project .project-header .project-info {
    padding: 20px 40px;
    gap: 20px;
  }
  .projects .project .project-header .project-info h2 {
    font-size: 60px;
  }
  .projects .project .project-header .project-info p {
    font-size: 35px;
  }
  .projects .project .bottom-bar {
    padding: 40px 30px;
  }
  .projects .project .bottom-bar .technologies {
    gap: 50px;
  }
  .projects .project .bottom-bar .technologies .technology {
    padding: 25px 40px;
    font-size: 40px;
  }
  .projects .project .bottom-bar .project-buttons {
    gap: 60px;
  }
  .projects .project .bottom-bar .project-buttons .project-button {
    width: 80px;
    height: 80px;
  }
}
.about {
  padding: 25px 20px;
}
.about .mobile-about .about-picture {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: 50% 40%;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #39B5CB 40%, #34E3CE 91%);
  box-sizing: border-box;
}
.about .mobile-about .about-intro {
  color: #39B5CB;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}
.about .mobile-about .about-intro h2 {
  font-size: 35px;
}
.about .desktop-about {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-bottom: 150px;
}
.about .desktop-about .about-picture {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: 50% 40%;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #39B5CB 40%, #34E3CE 91%);
  box-sizing: border-box;
}
.about .desktop-about .about-intro {
  color: #39B5CB;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}
.about .desktop-about .about-intro h2 {
  font-size: 35px;
}
.about .skill-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: space-between;
  margin: 30px 0;
  row-gap: 40px;
  column-gap: 30px;
}
.about .skill-grid .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #39B5CB;
  gap: 10px;
}
.about .skill-grid .skill svg {
  height: 60px;
  width: 60px;
}

@media only screen and (min-width: 768px) {
  .about .about-picture {
    height: 300px;
  }
  .about .about-intro {
    margin: 50px 30px;
    gap: 30px;
  }
  .about .about-intro h2 {
    font-size: 60px;
  }
  .about .about-intro p {
    font-size: 30px;
  }
  .about .skill-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .about .skill-grid .skill svg {
    width: 90px;
    height: 90px;
  }
}
@media only screen and (min-width: 1024px) {
  .about {
    padding: 25px 70px;
  }
  .about .mobile-about {
    display: none;
  }
  .about .desktop-about {
    margin-bottom: 100px;
    display: grid;
  }
  .about .desktop-about .about-picture {
    height: 270px;
  }
  .about .desktop-about .about-intro-desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .about .desktop-about .about-intro-desktop h2 {
    font-size: 40px;
  }
  .about .desktop-about .about-intro-desktop p {
    font-size: 20px;
  }
  .about .skill-grid {
    margin: 90px 0;
  }
  .about .skill-grid .skill svg {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (min-width: 2560px) {
  .about .desktop-about .about-picture {
    height: 600px;
  }
  .about .desktop-about .about-intro-desktop h2 {
    font-size: 80px;
  }
  .about .desktop-about .about-intro-desktop p {
    font-size: 50px;
  }
  .about .skill-grid {
    margin: 200px 0;
    gap: 150px;
  }
  .about .skill-grid .skill {
    gap: 30px;
  }
  .about .skill-grid .skill svg {
    width: 250px;
    height: 250px;
  }
  .about .skill-grid .skill h3 {
    font-size: 80px;
  }
}
.contact {
  padding: 25px 20px;
}
.contact .mobile-contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}
.contact .mobile-contact form input {
  padding: 10px;
  border: 3px solid;
  border-image-source: linear-gradient(90deg, #39B5CB 40%, #34E3CE 91%);
  border-image-slice: 1;
  background-color: #363636;
  color: #39B5CB;
  font-family: "Play", sans-serif;
}
.contact .mobile-contact form input::placeholder {
  color: #39B5CB;
  font-family: "Play", sans-serif;
}
.contact .mobile-contact form input:focus {
  outline: none;
  color: #39B5CB;
}
.contact .mobile-contact form textarea {
  padding: 10px;
  border: 3px solid;
  border-image-source: linear-gradient(90deg, #39B5CB 40%, #34E3CE 91%);
  border-image-slice: 1;
  height: 100px;
  background-color: #363636;
  font-family: "Play", sans-serif;
  resize: none;
  color: #39B5CB;
}
.contact .mobile-contact form textarea::placeholder {
  color: #39B5CB;
  font-family: "Play", sans-serif;
}
.contact .mobile-contact form textarea:focus {
  outline: none;
}
.contact .desktop-contact {
  display: none;
}
.contact .desktop-contact .contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
}
.contact .desktop-contact .contact-grid form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact .desktop-contact .contact-grid form input {
  padding: 10px;
  border: 3px solid;
  border-image-source: linear-gradient(90deg, #39B5CB 40%, #34E3CE 91%);
  border-image-slice: 1;
  background-color: #363636;
  color: #39B5CB;
  font-family: "Play", sans-serif;
  font-size: 20px;
}
.contact .desktop-contact .contact-grid form input::placeholder {
  color: #39B5CB;
  font-family: "Play", sans-serif;
}
.contact .desktop-contact .contact-grid form input:focus {
  outline: none;
  color: #39B5CB;
}
.contact .desktop-contact .contact-grid form textarea {
  padding: 10px;
  border: 3px solid;
  border-image-source: linear-gradient(90deg, #39B5CB 40%, #34E3CE 91%);
  border-image-slice: 1;
  height: 150px;
  background-color: #363636;
  font-family: "Play", sans-serif;
  resize: none;
  color: #39B5CB;
  font-size: 20px;
}
.contact .desktop-contact .contact-grid form textarea::placeholder {
  color: #39B5CB;
  font-family: "Play", sans-serif;
}
.contact .desktop-contact .contact-grid form textarea:focus {
  outline: none;
}
.contact .desktop-contact .contact-grid form .more-button {
  width: 100%;
  border: 3px solid;
  border-image-source: linear-gradient(90deg, #39B5CB 40%, #34E3CE 91%);
  border-image-slice: 1;
  box-sizing: border-box;
}
.contact .desktop-contact .contact-grid .contact-info {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact .desktop-contact .contact-grid .contact-info .desktop-socials {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact .desktop-contact .contact-grid .contact-info .desktop-socials .social-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.contact .desktop-contact .contact-grid .contact-info .desktop-socials .social-info svg {
  height: 50px;
  width: 50px;
  fill: #39B5CB;
}

@media only screen and (min-width: 768px) {
  .mobile-contact {
    display: none;
  }
  .desktop-contact {
    display: block !important;
  }
}
@media only screen and (min-width: 1024px) {
  .contact {
    padding: 25px 70px;
  }
}
@media only screen and (min-width: 2560px) {
  .contact .desktop-contact .contact-grid .contact-info p {
    font-size: 40px;
  }
  .contact .desktop-contact .contact-grid .contact-info .desktop-socials {
    gap: 30px;
  }
  .contact .desktop-contact .contact-grid .contact-info .desktop-socials .social-info {
    gap: 20px;
  }
  .contact .desktop-contact .contact-grid form {
    gap: 30px;
  }
  .contact .desktop-contact .contact-grid form input {
    font-size: 40px;
    padding: 25px;
  }
  .contact .desktop-contact .contact-grid form textarea {
    font-size: 40px;
    padding: 25px;
    height: 250px;
  }
}
body {
  background-color: #363636;
  font-family: "Play", sans-serif;
  margin: 0;
  padding: 0;
  color: #39B5CB;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.more-button {
  color: #39B5CB;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  border: 5px solid;
  border-image-source: linear-gradient(90deg, #39B5CB 40%, #34E3CE 91%);
  border-image-slice: 1;
  padding: 15px 0;
}
.more-button:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.mobile-footer {
  background: linear-gradient(90deg, #39B5CB 40%, #34E3CE 91%);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 35px;
}
.mobile-footer .social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #363636;
  gap: 5px;
}
.mobile-footer .social-container h4 {
  font-size: 20px;
  white-space: nowrap;
}
.mobile-footer .social-container svg {
  fill: #363636;
  height: 50px;
  width: 50px;
}

@media only screen and (min-width: 768px) {
  .more-button {
    width: 50%;
    margin: auto;
  }
  .mobile-footer {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .section-title {
    font-size: 20px;
  }
  .more-button {
    width: 30%;
  }
}
@media only screen and (min-width: 2560px) {
  .section-title {
    font-size: 40px;
  }
  .more-button {
    width: 30%;
    font-size: 50px;
    padding: 40px;
  }
  .arrow {
    display: none;
  }
}

/*# sourceMappingURL=output.css.map */
